---
import TwoColumns from "./TwoColumns.astro";
import Heading from "./Heading.astro";
import Text from "./Text.astro";
import { Image } from "astro:assets";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  num: string;
  title: string;
  date: string;
  image: ImageMetadata;
  align?: "default" | "reverse";
}

const {
  num,
  title,
  date,
  image,
  align = "default",
  class: className,
  ...props
} = Astro.props;
---

<TwoColumns align={align} class={className} {...props}>
  <div slot="left">
    <Image src={image} alt="" class="rounded-sm" />
  </div>
  <div slot="right" class="md:pr-12">
    <div class="flex flex-col gap-4 md:pr-16">
      <div
        class="flex items-center gap-2 md:gap-4 md:text-xl font-serif italic font-[100]"
      >
        <div>
          {num}.
        </div>
        <div class="h-px bg-stone-300 flex-grow mx-2"></div>
        <div>{date}</div>
      </div>
      <div class="flex flex-col gap-4">
        <Heading level="h3">{title}</Heading>
        <div class="flex flex-col gap-4">
          <slot name="content" />
          <div class="text-lg">
            <slot name="footer" />
          </div>
        </div>
      </div>
    </div>
  </div>
</TwoColumns>
