---
import Button from "./Button.astro";
import Heading from "./Heading.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  subtitle: string;
  image: ImageMetadata;
  imageAlt: string;
  authorName?: string;
  authorDescription?: string;
  startDate?: string;
}

const {
  title,
  subtitle,
  image,
  imageAlt,
  startDate,
} = Astro.props;
---

<div class="flex flex-col items-center text-center py-4">
  <div class="flex flex-col gap-2">
    <Heading level="h1">{title}</Heading>
    <p class="text-xl md:text-2xl mb-8 max-w-2xl font-sans">{subtitle}</p>
  </div>
  <div class="w-full my-8">
    <Image
      src={image}
      alt={imageAlt}
      class="w-full max-h-[500px] max-w-4xl mx-auto object-cover rounded-sm"
    />
  </div>

  <div class="text-left text-lg max-w-3xl mx-auto mb-8 flex flex-col gap-4">
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-3">
        <slot />
      </div>
      <div class="font-semibold">{startDate}</div>
    </div>

    <div class="mt-6 flex justify-center">
      <Button text="Записаться сейчас" variant="primary" size="lg" href="/course/apply" />
    </div>
  </div>
</div>
