---
import CourseScheduleBlock from "@/components/course/CourseScheduleBlock.astro";
import Feedback from "@/components/course/Feedback.astro";
import About from "../components/course/About/About.astro";
import FAQ from "../components/course/FAQ.astro";
import FeaturesRow from "../components/course/FeaturesRow.astro";
import Heading from "../components/course/Heading.astro";
import Hero from "../components/course/Hero.astro";
import Icon from "../components/course/Icon/Icon.astro";
import List from "../components/course/List.astro";
import Pricing from "../components/course/Pricing.astro";
import Section from "../components/course/Section.astro";
import Toolbar from "../components/course/Toolbar.astro";
import TwoColumnBlock from "../components/course/TwoColumnBlock.astro";
import CourseLayout from "../layouts/Course.astro";
import ep01 from "./course/_images/ep01.jpg";
import ep02 from "./course/_images/ep02.jpg";
import ep03 from "./course/_images/ep03.jpg";
import ep04 from "./course/_images/ep04.jpg";
import ep05 from "./course/_images/ep05.jpg";
import heroImage from "./course/_images/hero-3.jpg";
---

<CourseLayout
  title="Ручной фокус — Анна Шмитько"
  description="5 недель, 10-12 человек, старт 25 и 29 октября. Курс о мобильной фотографии, наблюдении и памяти"
  meta={{
    title: "Ручной фокус",
    description:
      "5 недель, 10-12 человек, старт 25 и 29 октября. Курс о мобильной фотографии, наблюдении и памяти",
  }}
>
  <Toolbar />
  <main>
    <Section id="description">
      <Hero
        title="Ручной фокус"
        subtitle="курс о мобильной фотографии, наблюдении и памяти"
        image={heroImage}
        imageAlt="Фотограф с мобильным телефоном"
        startDate="Утренняя группа старт 25 октября. Вечерняя — 29 октября."
      >
        <p>
          Привет, меня зовут Аня Шмитько. Я фотографка и режиссерка
          документального кино. Много лет я снимаю для медиа, социальных
          проектов, театра и кино. Последние десять лет я делаю это на телефон.
        </p>
        <p>
          Он всегда рядом со мной. Он не пугает окружающих. Он прост в съёмке.
        </p>
        <p>
          Это настолько классно, что я сделала курс о том, как снимать на
          телефон.
        </p>
        <p>
          5 недель. Онлайн-группа 10-12 человек. Теория (немного), практика
          (много).
        </p>
      </Hero>
    </Section>
    <Section id="about">
      <FeaturesRow
        title="Это курс про"
        features={[
          "Практику наблюдения",
          "Красоту повседневности",
          "Простые инструменты",
          "Хранение воспоминаний",
        ]}
      />
      <FeaturesRow
        title="Для кого этот курс"
        features={[
          "Для тех, кто любит снимать",
          "Тех, кто занимается соцсетями компании",
          "Для владельцев бизнеса, требующего постоянных фотографий",
          "Для жадных глазами",
        ]}
      />
      <FeaturesRow
        title="Кому курс не подойдет"
        features={[
          "Тем, кто хочет больше знать об истории фотографии",
          "Снимает на камеру и хочет улучшить навык работы с ней",
          "Любит технические данные фото больше, чем его содержание",
        ]}
      />

      <TwoColumnBlock title="Как всё пройдёт">
        <p>Мы будем встречаться раз в неделю.</p>
        <p>Групп две - утрянняя и вечерняя. Выберите подходящую.</p>
        <p>
          Это онлайн-встречи на 2 — 2,5 часа. В начале каждой мы немного
          поговорим о теории, а большую часть посвятим практике и обсуждению. Ну
          и домашние задания, конечно.
        </p>
      </TwoColumnBlock>
    </Section>
    <Section class="my-24" id="schedule">
      <div class="flex items-center gap-3 md:gap-6 mb-12">
        <Icon icon="schedule" />
        <Heading level="h2"> Программа курса </Heading>
      </div>
      <div class="flex flex-col gap-24">
        <CourseScheduleBlock
          num="1"
          title="Введение в мобильную фотографию"
          date="25 октября, 12:00 МСК"
          dateTime={new Date("2025-10-25T12:00:00+03:00")}
          date2="29 октября, 20:00 МСК"
          dateTime2={new Date("2025-10-29T20:00:00+03:00")}
          image={ep01}
        >
          <List
            items={[
              "Как работает камера телефона: свет, выдержка, диафрагма",
              "Портрет: типы, ракурсы",
              "Практика: автопортрет, знакомство с программами",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="2"
          title="Контекст, деталь и позиция"
          date="01 ноября, 12:00 МСК"
          dateTime={new Date("2025-11-01T12:00:00+03:00")}
          date2="05 ноября, 20:00 МСК"
          dateTime2={new Date("2025-11-05T20:00:00+03:00")}
          image={ep02}
          align="reverse"
        >
          <List
            items={[
              "Фотограф как наблюдатель и участник",
              "Работа с пространством и деталями, портрет без героя",
              "Практика: портрет комнаты",
              "Практика обработки (кадрирование, перспектива)",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="3"
          title="Этика и репортаж. Длительное наблюдение"
          date="08 ноября, 12:00 МСК"
          dateTime={new Date("2025-11-08T12:00:00+03:00")}
          date2="12 ноября, 20:00 МСК"
          dateTime2={new Date("2025-11-12T20:00:00+03:00")}
          image={ep03}
        >
          <p class="text-lg" slot="header">
            Ко-хост занятия: <span
              class="tooltip tooltip-open tooltip-top"
              data-tip="Режиссерка-документалистка, операторка и сценаристка,\n выпускница Школы документального кино и театра\n Марины Разбежкиной и Михаила Угарова"
              >Маша Павлова</span
            >
          </p>
          <List
            items={[
              "Границы и согласия, правовые аспекты",
              "Виды репортажа, длительное наблюдение",
              "Практика: обработка (hsl, кривые, зерно)",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="4"
          title="От фотографии к фотоистории"
          date="15 ноября, 12:00 МСК"
          dateTime={new Date("2025-11-15T12:00:00+03:00")}
          date2="19 ноября, 20:00 МСК"
          dateTime2={new Date("2025-11-19T20:00:00+03:00")}
          image={ep04}
          align="reverse"
        >
          <List
            items={[
              "Проектное мышление: от идеи до серии",
              "Сценарий съемки, структура истории",
              "Практика: разработка темы и питчинг финального проекта",
              "Семинар: обработка (общее цветовое решение, публикация)",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="5"
          title="Портфолио-ревю"
          date="22 ноября, 12:00 МСК"
          dateTime={new Date("2025-11-22T12:00:00+03:00")}
          date2="26 ноября, 20:00 МСК"
          dateTime2={new Date("2025-11-26T20:00:00+03:00")}
          image={ep05}
        >
          <List
            items={[
              "Групповая презентация проектов",
              "Финальный разбор и обратная связь",
            ]}
            slot="content"
          />
          <p slot="footer">
            <span class="font-bold">Финальное занятие</span>
          </p>
        </CourseScheduleBlock>
      </div>
    </Section>
    <Section class="flex flex-col gap-24" id="pricing" type="narrow">
      <Pricing
        price="250 евро — Cтоимость курса"
        buttonText="Записаться сейчас"
      >
        <List
          items={[
            "Cтандартное место (250 евро / 23.000 руб / 290 usd(t) / 970 шек)",
            "Можно оплатить почти любым удобным переводом",
            "Можно оплатить подвешенный курс для другого участника",
            "На курсе есть одно бесплатное место",
          ]}
          slot="content"
        />
        <p class="" slot="footer">
          Хотите купить курс для редакции или бизнеса? Напишите на
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="mailto:annashmitko@gmail.com"
            class="underline">annashmitko@gmail.com</a
          >
        </p>
      </Pricing>
    </Section>
    <Section id="faq" type="narrow">
      <FAQ
        title="Вопросы и ответы"
        items={[
          {
            question: "Что будет на курсе и чего не будет?",
            answer:
              "Много практики, много обсуждений, немного теории фотографии. Совсем не будет работы с приложениями на компьютере и съемок на полноразмерную камеру.",
          },
          {
            question: "Будет ли весело?",
            answer:
              "Причина, по которой этот курс делается - чтобы было интересно и весело.",
          },
          {
            question: "Сколько времени закладывать на домашку?",
            answer:
              "В курсе несколько домашних заданий. Первые два не потребуют от вас более часа. Второе и третье подразумевают не менее двух часов. Пятое - ваш проект - зависит от того, что вы выберете в качестве темы.",
          },
          {
            question: "Будет ли поддержка после курса?",
            answer:
              "После курса останется чат группы с куратором. По каким-то более чутким вопросам можно запросить индивидуальную кураторскую поддержку.",
          },
          {
            question: "Могу ли я передумать после оплаты?",
            answer:
              "Если до старта курса останется больше недели, я верну всю сумму. От недели до трех дней - 50%. За три дня до старта курса и менее возврат невозможен.",
          },
          {
            question: "Я не успеваю, будет запись?",
            answer:
              "Это практический курс, в нём не так много теории. Теория будет записана, но не будет равно курсу.",
          },
          {
            question: "Здесь нет моего вопроса, куда писать?",
            answer: "Можно написать на почту annashmitko@gmail.com",
          },
        ]}
      />
    </Section>
    <Section id="feedback" type="default">
      <Feedback title="Отзывы" buttonText="Записаться сейчас" />
    </Section>
    <Section id="author" type="narrow" class="md:pt-16">
      <About>
        Анна Шмитько — режиссерка-документалистка и&nbsp;фотографка, выпускница
        школы марины разбежкиной. сотрудничала с&nbsp;magnum&nbsp;photos,
        national geographic, adidas, «такие&nbsp;дела», гоголь-центром и др.
      </About>
    </Section>
  </main>
</CourseLayout>
