---
import CourseScheduleBlock from "../components/course/CourseScheduleBlock.astro";
import FAQ from "../components/course/FAQ.astro";
import FeaturesRow from "../components/course/FeaturesRow.astro";
import Heading from "../components/course/Heading.astro";
import Hero from "../components/course/Hero.astro";
import List from "../components/course/List.astro";
import Pricing from "../components/course/Pricing.astro";
import Section from "../components/course/Section.astro";
import Toolbar from "../components/course/Toolbar.astro";
import TwoColumnBlock from "../components/course/TwoColumnBlock.astro";
import CourseLayout from "../layouts/Course.astro";
import ep01 from "./images/ep01.jpg";
import ep02 from "./images/ep02.jpg";
import ep03 from "./images/ep03.jpg";
import ep04 from "./images/ep04.jpg";
import ep05 from "./images/ep05.jpg";
import heroImage from "./images/hero-3.jpg";
---

<CourseLayout title="Manual Focus mobile photography course by Anna Shmitko">
  <Toolbar />
  <main>
    <Section id="description">
      <Hero
        title="Ручной фокус"
        subtitle="курс о мобильной фотографии, наблюдении и памяти"
        image={heroImage}
        imageAlt="Фотограф с мобильным телефоном"
        startDate="Начинаем 16 мая."
      >
        <p>
          Привет, меня зовут Аня Шмитько. Я фотографка и режиссерка
          документального кино. Много лет я снимаю для медиа, социальных
          проектов, театра и кино. Последние десять лет я делаю это на телефон.
        </p>
        <p>
          Он всегда рядом со мной. Он не пугает окружающих. Он прост в съёмке.
        </p>
        <p>
          Это настолько классно, что я сделала курс о том, как снимать на
          телефон.
        </p>
        <p>
          5 недель. Онлайн-группа 10-12 человек. Теория (немного), практика
          (много), обсуждения и финальный проект.
        </p>
      </Hero>
    </Section>
    <Section id="about">
      <FeaturesRow
        title="Это курс про"
        features={[
          "Практику наблюдения",
          "Красоту повседневности",
          "Простые инструменты",
          "Хранение воспоминаний",
        ]}
      />
      <FeaturesRow
        title="Для кого этот курс"
        features={[
          "Для тех, кто любит снимать",
          "Тех, кто занимается соцсетями компании",
          "Для владельцев бизнеса, требующего постоянных фотографий",
          "Для жадных глазами",
        ]}
      />
      <FeaturesRow
        title="Кому курс не подойдет"
        features={[
          "Тем, кто хочет больше знать об истории фотографии",
          "Снимает на камеру и хочет улучшить навык работы с ней",
          "Любит технические данные фото больше, чем его содержание",
        ]}
      />

      <TwoColumnBlock title="Как всё пройдёт">
        <p>
          Мы будем встречаться раз в неделю, по субботам, в первой половине дня
          по европейскому времени.
        </p>
        <p>
          Это онлайн-встречи на 2 — 2,5 часа. В начале каждой мы немного
          поговорим о теории, а большую часть посвятим практике.
        </p>
        <p>Домашние задания с проверкой — будут.</p>
      </TwoColumnBlock>
    </Section>
    <Section class="my-24" id="schedule">
      <Heading level="h2" class="mb-12">Программа курса</Heading>
      <div class="flex flex-col gap-24">
        <CourseScheduleBlock
          num="1"
          title="Введение в мобильную фотографию"
          date="16 мая, 11:00 CET (12:00 MSK)"
          image={ep01}
        >
          <List
            items={[
              "Как работает камера телефона: свет, выдержка, диафрагма",
              "Портрет: типы, ракурсы",
              "Практика: автопортрет, знакомство с программами",
            ]}
            slot="content"
          />
          <p slot="footer">
            <span class="font-bold">Домашнее задание:</span>
            <br />
            3 портрета — домашний, рабочий, уличный
          </p>
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="2"
          title="Контекст, деталь и позиция"
          date="23 мая, 11:00 CET (12:00 MSK)"
          image={ep02}
          align="reverse"
        >
          <List
            items={[
              "Фотограф как наблюдатель и участник",
              "Работа с пространством и деталями, портрет без героя",
              "Практика: портрет комнаты",
              "Практика обработки (кадрирование, перспектива)",
            ]}
            slot="content"
          />
          <p slot="footer">
            <span class="font-bold">Домашнее задание:</span>
            <br />
            Портрет пространства — квартиры или дома
          </p>
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="3"
          title="Этика и репортаж"
          date="30 мая, 11:00 CET (12:00 MSK)"
          image={ep03}
        >
          <List
            items={[
              "Границы и согласия, правовые аспекты",
              "Виды репортажа",
              "Практика: обработка (hsl, кривые, зерно), разбор ситуаций",
            ]}
            slot="content"
          />
          <p slot="footer">
            <span class="font-bold">Домашнее задание:</span>
            <br />
            Репортаж одного дня из собственной жизни
          </p>
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="4"
          title="От фотографии к фотоистории"
          date="06 июня, 11:00 CET (12:00 MSK)"
          image={ep04}
          align="reverse"
        >
          <List
            items={[
              "Проектное мышление: от идеи до серии",
              "Сценарий съемки, структура истории",
              "Практика: разработка темы и питчинг финального проекта",
              "Семинар: обработка (общее цветовое решение, публикация)",
            ]}
            slot="content"
          />
          <p slot="footer">
            <span class="font-bold">Домашнее задание:</span>
            <br />
            Фотоистория из 5–10 кадров
          </p>
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="5"
          title="Портфолио-ревю"
          date="13 июня, 11:00 CET (12:00 MSK)"
          image={ep05}
        >
          <List
            items={[
              "Групповая презентация проектов",
              "Обсуждение с приглашенными экспертами",
              "Финальный разбор и обратная связь",
            ]}
            slot="content"
          />
          <p slot="footer">
            <span class="font-bold">Финальное занятие</span>
          </p>
        </CourseScheduleBlock>
      </div>
    </Section>
    <Section class="flex flex-col gap-24" id="pricing" type="narrow">
      <Pricing
        price="220 евро — Cтоимость курса"
        buttonText="Записаться сейчас"
      >
        <List
          items={[
            "Cтандартное место (220 евро / 21.000 руб / 250 usd(t) / 920 шек)",
            "Можно оплатить почти любым удобным переводом",
            "Можно оплатить подвешенный курс для другого участника",
            "На курсе есть одно бесплатное место",
          ]}
          slot="content"
        />
      </Pricing>
    </Section>
    <Section id="faq" type="narrow" ‰>
      <FAQ
        title="Вопросы и ответы"
        items={[
          {
            question: "Что будет на курсе и чего не будет?",
            answer:
              "Много практики, много обсуждений, немного теории фотографии. Совсем не будет работы с приложениями на компьютере и съемок на полноразмерную камеру.",
          },
          {
            question: "Будет ли весело?",
            answer:
              "Причина, по которой этот курс делается - чтобы было интересно и весело.",
          },
          {
            question: "Сколько времени закладывать на домашку?",
            answer:
              "В курсе несколько домашних заданий. Первые два не потребуют от вас более часа. Второе и третье подразумевают не менее двух часов. Пятое - ваш проект - зависит от того, что вы выберете в качестве темы.",
          },
          {
            question: "Будет ли поддержка после курса?",
            answer:
              "После курса останется чат группы с куратором. По каким-то более чутким вопросам можно запросить индивидуальную кураторскую поддержку.",
          },
          {
            question: "Могу ли я передумать после оплаты?",
            answer:
              "Если до старта курса останется больше недели, я верну всю сумму. От недели до трех дней - 50%. За три дня до старта курса и менее возврат невозможен.",
          },
          {
            question: "Я не успеваю, будет запись?",
            answer:
              "Это практический курс, в нём не так много теории. Теория будет записана, но не будет равно курсу.",
          },
          {
            question: "Здесь нет моего вопроса, куда писать?",
            answer: "Можно написать на почту annashmitko@gmail.com",
          },
        ]}
      />
    </Section>
  </main>
</CourseLayout>
