---
import "@fontsource-variable/public-sans";
import "@fontsource-variable/roboto-serif";
import Footer from "../components/course/Footer.astro";
import { SEO } from "astro-seo";
import coverImage from "./_images/cover.png";

interface Props {
  title: string;
  description: string;
  meta: {
    title: string;
    description: string;
    noindex?: boolean;
  };
}

const { title, description, meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#111" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: meta.title,
          type: "website",
          image: coverImage.src,
        },
        optional: {
          description: description,
          siteName: "Анна Шмитько",
          locale: "ru",
        },
        image: {
          alt: meta.title,
          height: coverImage.height,
          width: coverImage.width,
          url: coverImage.src,
        },
      }}
      noindex={meta.noindex || false}
    />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  /* @tailwind base; */
  /* @tailwind components; */
  /* @tailwind utilities; */

  :root {
    --foreground-color: #e4dad7;
    --background-color: #0d0402;
    --radius: 12px;
  }

  body {
    color: var(--foreground-color);
    background: var(--background-color);
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(228, 218, 215, 0.05);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(228, 218, 215, 0.2);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(228, 218, 215, 0.3);
  }
</style>
